<br>
<footer>
    <hr>
    <img src="img/IMG_7211.jpg"><br />
    <nav class="nav flex-column">
        <!-- <a class="nav-link" href="#"><img src="img/icons8-インスタグラム-96.svg"></a> -->
        <a class="nav-link" href="#">プライバシーポリシー</a>
        <a class="nav-link" href="#">お問い合わせ</a>
        <a class="nav-link" aria-current="page" href="#">利用規約</a>
    </nav>
    <p><small>Copyright &copy; 知識図書館2023</small></p>
    <hr>
    <p>produced by APLIFT</p>
</footer>
</body>

</html>