<%- include('partials/header.ejs'); %>
    <main>
        <article id="topic">
            <p>全国の"美容師"の為,出会いと繋がりを大切にこのSNSで、"美容師"の働く環境を充実したものに。</p>
        </article>

        <article id="login">
            <a href="/login">筆記試験対策</a>
            <a href="/login">美容技術利用</a>
        </article>

        <article id="contents">
            <section id="con1">
                <h2>美容師国試対策アプリ</h2>
                <p>美容学生たちの勉強ノートを共有でき、協力しながら全員で合格を目指す。</p>
            </section>
            <section id="con2">
                <h2>技術力アップ</h2>
                <p>サロンで使う実践的な技術を学べる</p>
            </section>
        </article>

        <article id="sub">
            <img src="img/スクリーンショット 2023-01-23 20.25.08.png">
            <p>プロフィール、インスタのアカウントを共有し、今後美容師人生を彩る。</p>
        </article>
        <article id="sub2">
            <h2>さあ始めよう！</h2>
            <p>仕事で活きる技術力と知識を身につけよう。</p>
        </article>

        <dl class="info">
            <dt><span>セール</span><time>2020.7.29</time></dt>
            <dd><a href="#">【5時間限定】今なら50%OFFセール中！</a></dd>
            <dt><span>お知らせ</span><time>2020.7.28</time></dt>
            <dd><a href="#">夏季休暇のお知らせ</a>
            </dd>
            <dt><span>キャンペーン</span><time>2020.7.26</time></dt>
            <dd><a href="#">エントリー＆1,000円以上購入でポイント10倍</a>
            </dd>
            <dt><span>新商品</span><time>2020.7.20</time></dt>
            <dd><a href="#">夏の新作を発表</a>
            </dd>
            <dt><span>クーポン</span><time>2020.7.17</time></dt>
            <dd><a href="#">全品対象1,000円OFFクーポン配布中！</a></dd>
            <dt><span>セール</span><time>2020.7.15</time></dt>
            <dd><a href="#">3時間限定タイムセール！</a></dd>
            <dt><span>お知らせ</span><time>2020.7.10</time></dt>
            <dd><a href="#">臨時休業のお知らせ</a>
            </dd>
        </dl>
    </main>


    <%- include('partials/footer.ejs'); %>