<%- include('partials/header.ejs'); %>
    <main>
        <p>＊メンテナンス中＊</p>
        <p>キーワード検索</p>
        <form method="POST" action="#" class="search_container">
            <input type="text" name="note_search" size="25" placeholder="キーワード検索">
            <input type="submit" value="&#xf002">
        </form>
        <article id="fixed">
            <a href="/top"><img src="img/ホームアイコン.svg" alt=""></a>
            <a href="/search"><img src="img/検索用の虫眼鏡アイコン素材.svg" alt=""></a>
            <a href="/all"><img src="img/ハサミのフリー素材10.svg" alt=""></a>
        </article>
    </main>
    <%- include('partials/footer.ejs'); %>